<!DOCTYPE html>
<html lang="en">

    <!-- Base href -->
    <base href="/public">

    <!-- CSS Partial -->
    <%- include('../partials/css') %>

<body>
    <!-- Spinner Partial -->
    <%- include('../partials/spinner.ejs') %>

    <!-- Topbar Partial -->
    <%- include('../partials/topbar.ejs') %>

    <!-- Navigation Partial -->
    <%- include('../partials/nav.ejs') %>

    <!-- Dynamic Page Content -->
    <%- body %>

    <!-- Footer Partial -->
    <%- include('../partials/footer.ejs') %>

     <!-- Back-to-Top Partial -->
     <%- include('../partials/chart.ejs') %>
    <!-- Back-to-Top Partial -->
    <%- include('../partials/topback.ejs') %>

    <!-- Scripts Partial -->
    <%- include('../partials/script.ejs') %>


</body>
</html>
